<div class="d-flex flex-column align-items-center">
  <div class="col-9">
      <%= render 'posts/card', post: @post %>
      <div>
        <div class="d-flex flex-column">
          <div class="col-10">
            <%= form_with model: [@post, @comment] do |form| %>   <!-- path non esiste, aiuta rails a creare path partendo da post per form dei commenti -->
              <% if @comment.errors.any? %>
                <% @comment.errors.full_messages.each do |message| %>
                  <div><%= message %></div>
                <% end %>
              <% end %>
              <div class="mb-3">
                <%= form.label :body, class: "form-label visually-hidden" %>
                <div><%= form.text_area :body, class: "form-control bg-light", placeholder: "Type your comment here...", rows: "3" %></div>
              </div>
              <div>
                <%= form.submit class: "btn btn-outline-warning" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>